
.board{
  border: 5px solid black;
  height: 956px;
  width:956px;
  display: flex;
  
}

.square{
  border: 5px solid black;
  height: 110px;
  width: 110px;
}

.row.odd .square:nth-child(even),
.row.even .square:nth-child(odd){
  background-color:burlywood;
}
